/client/dist/*
!/client/dist/index.html
/client/node_modules
.DS_Store
.env
.env.dev
*~
/gameserver/app
/gameserver/gameserver
/client/*log
/sam/test/events/event.json
/sam/dynamodb/tables/*/table_info.json

/sam/lambda/.venv
/sam/lambda/var
/sam/lambda/*.py[co]
/sam/lambda/*.egg-info
/sam/lambda/packaged.yml
/sam/lambda/bundle.zip
/sam/lambda/log/*
!/sam/lambda/log/.keep
/sam/tmp/*
!/sam/tmp/.keep
