/*Garageã®CSS*/

.garage {
  background-image: radial-gradient(farthest-side ellipse at 10% 0, #296687 20%, #34828f);
  height: 100%;
  color: #eceff1;
}

.garage .page-title {
  float: left;
  font-size: 36px;
}

.garage .page-menu {
  float: right;
  font-size: 18px;
}

.garage .page-menu ul {
  list-style: none;
}

.garage .page-menu li {
  float: left;
  padding-right: 18px;
}

.garage .page-menu li:after {
  padding-left: 18px;
  content: "|";
}

.garage .page-menu li:first-child:before {
  padding-right: 18px;
  content: "|";
}

.garage .page-menu a {
  color: #eceff1;
  text-decoration: none;
}

.garage .page-menu a:hover {
  text-decoration: underline;
}

.garage .panel {

}
