/*MatchページのCSS*/

.match {
  height: 100vh;
  color: #eceff1;
}

.match .contents-body {
  padding-bottom: 900px;
}

.match .page-title {
  float: left;
  font-size: 36px;
}

.match .page-menu {
  float: right;
  font-size: 18px;
}

.match .page-menu ul {
  list-style: none;
}

.match .page-menu li {
  float: left;
  padding-right: 18px;
}

.match .page-menu li:after {
  padding-left: 18px;
  content: "|";
}

.match .page-menu li:first-child:before {
  padding-right: 18px;
  content: "|";
}

.match .page-menu a {
  color: #eceff1;
  text-decoration: none;
}

.match .page-menu a:hover {
  text-decoration: underline;
}
