.reversi-back-image {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('assets/utils/games_back_image5.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size:cover;
}
