#top-page-nav  {
  position: absolute;
  top: -75px;
  height: 60px;
  margin-top: 75px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  transition: top 1.2s ease-out;
  z-index: 10;
}

#top-page-nav .logo {
  float: left;
  width: 150px;
  padding-top: 4px;
}
#top-page-nav .menu-top {
  padding-top: 13px;
}
#top-page-nav .menu-top ul {
  padding-top: 5px;
  list-style: none;
  float: right;
}
#top-page-nav .menu-top li {
  font-size: 18px;
  float: left;
  text-align: center;
  padding-right: 36px;
}
#top-page-nav .menu-top li a {
  color: #eceff1;
  text-decoration: none;
}

#top-page-nav .login-button {
  padding: 8px 12px;
  background-color: #2f4552;
  border-radius: 3px;
}

#top-page-nav .login-button:hover {
  cursor: pointer;
  text-decoration: none;
}

#top-page-nav .menu-top li a:hover {
  text-decoration: underline;
}

#top-page-nav .menu-top li:last-child {
  padding-right: 0px;
}

#top-page-nav .navbar-fixed {
  position: fixed;
  top:0;
  margin-top: 0px;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  -moz-transition: top 0.5s ease-in;
}

#top-page-nav .navbar-fixed .menu-top li a {
  color: #006687;
}
